@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdfbf7;
  /* Off-white/Paper */
  --foreground: #18181b;
  /* Zinc 900 */
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Neobrutalism usually avoids dark mode or uses high contrast dark */
    --background: #18181b;
    --foreground: #fdfbf7;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Space Grotesk', 'Inter', sans-serif;
  /* Ideally would load a font */
  -webkit-font-smoothing: antialiased;
}

/* Neobrutalism Utilities */
.neo-card {
  background: white;
  border: 3px solid #18181b;
  box-shadow: 4px 4px 0 0 #18181b;
  border-radius: 0.5rem;
}

.neo-btn {
  border: 3px solid #18181b;
  box-shadow: 2px 2px 0 0 #18181b;
  font-weight: 700;
  transition: all 0.1s;
}

.neo-btn:active {
  transform: translate(2px, 2px);
  box-shadow: 0 0 0 0 #18181b;
}

.neo-input {
  border: 3px solid #18181b;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-weight: 500;
  outline: none;
  transition: box-shadow 0.1s;
}

.neo-input:focus {
  box-shadow: 4px 4px 0 0 #18181b;
}

/* 移除 number input 的 spinner */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}